header {
    padding-block: 32px;
}

#profile {
    display: flex;
    gap: 32px;
    
}

#profile > div {
    max-width: 384px;
    
}

#profile h1 {
  font: var(--text-large);
  color: var(--text-color-primary);
}